            <section id="summary">
                <h2>Summary</h2>
                [% summarytext %]
            </section>
            <section id="description">
                <h2>Description</h2>
                [% descriptiontext %]
            </section>
