            <div id="censusdata" style="float:left;clear:left;">
                <h2>Personal Data</h2>
                [% npcstats %]
                <center>D&D 5e </br>
                Rolled 4d6 (4-24 method)</center>
            </div>
            <section id="summary">
                <h2>Summary</h2>
                [% summarytext %]
            </section>
            <section id="description">
                <h2>Description</h2>
                [% descriptiontext %]
            </section>
<br><br><br>
