        <div id="worldnav">
            [% IF worldid %]
            <nav>
            <a href='worldgenerator?worldid=[% worldid - 1   %]'>&laquo; Last World</a>
            <a href='worldgenerator?worldid=[% worldid       %]'>[ [% worldname%] ]</a>
            <a href='worldgenerator?worldid=[% worldid + 1   %]'>Next World &raquo;</a>
            </nav>
            [% END %]
            [% IF seed %]
            <nav>
            <a href='?seed=[% seed - 1   %]'>&laquo; Last</a>
            <a href='?seed=[% seed       %]'>[ [% cityname%] ]</a>
            <a href='?seed=[% seed + 1   %]'>Next &raquo;</a>
            </nav>
            [% END %]
        </div>
